*/**/bin/Debug
*/**/bin/Release
*/**/obj/Debug
*/**/obj/Release
/KotonProject/Koton.Business/obj
/KotonProject/Koton.Web.Client/obj
/KotonProject/Koton.Entities/bin
/KotonProject/Koton.DAL/obj
/KotonProject/Koton.Business/bin
/KotonProject/Koton.DAL/bin
*.vsidx
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.log
*.scc
*.csproj.user
/KotonProject/Koton.Entities/obj
/KotonProject/Koton.Web.API/obj
/KotonProject/.vs/KotonProject/v17
/KotonProject/.vs
